
@{
    ViewData["Title"] = "Contatos";
}

<div class="container px-4 py-5">
    <h2 class="text-center fonte">Contatos</h2>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">

        </div>
        <h2>São Paulo</h2>
        <p>Telefone:(11)5555-5555</p>
        <p>E-mail:historyhunterssp@gmail.com</p>
        <p>Endereço: Praça Antônio Prado, 33 - Centro/SP</p>
        <p></p>
        <a href="#" class="icon-link"></a>
    </div>
    <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">

        </div>
        <h2>Santa Catarina</h2>
        <p>Telefone:(48)5858-8585</p>
        <p>E-mail:historyhunterssc@gmail.com</p>
        <p>Endereço:Rua Álvaro Mullen da Silveira, 104 - Florianópolis/SC</p>
        <p></p>
        <a href="#" class="icon-link"></a>
    </div>
    <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">

        </div>
        <h2>Rio de Janeiro</h2>
        <p>Telefone:(21)8888-8888</p>
        <p>E-mail:historyhuntersrj@gmail.com</p>
        <p>Endereço:  Rua México, n.41 – Centro/RJ</p>
        <p></p>
        <a href="#" class="icon-link"></a>
    </div>
</div>